$red: #EE3330;
$green: #64CC50;
$blue: #4290DD;

.ctrl-label {
   margin: 3px 10px;
   width: 120px;
   display: inline-block;
}

.sub-ctrl-label  {
   width: 50px;
   display: inline-block;
   padding: 3px;
   border-radius: 5px;
   margin: 5px 10px;
   text-align: center;
}

.btn-group input[type='button'] {
   margin-right: 5px;
}

.canvas-state-viewer {
   float: right;
   max-width: 40%;
   margin-right: 2%;
}

.canvas-controller {
   display: inline-block;
}

.canvas-editor {
   margin-top: 20px;
}

.canvas-mode-ctrl {
   select {
      width: 70px;
      margin: 0px 10px;
   }
}

.guidewire-ctrl {
   display: inline-block;
   margin-right: 20px;
   input {
      margin: 5px 10px;
   }
}

.output-format-ctrl {
   display: inline-block;
   margin-right: 20px;
   select {
      width: 70px;
      margin: 0px 10px;
   }
}

.figure-aspect-ctrl {
   display: inline-block;
   input {
      margin: 5px 10px;
   }
}

.figure-aspect-ratio-ctrl {
   display: inline-block;
   div {
      display: inline-block;
   }
   input {
      width: 50px;
      margin: 5px 10px;
   }
}

.operation-ctrl {
   div {
      display: inline-block;
   }
   .btn-group {
      margin: 0px 10px;
   }
}

.figure-label-editor {
   input {
      margin: 0px 10px;
   }
}

.figure-color-editor {
   div {
      display: inline-block;
   }
   .figure-color-sub-editor {
      margin-right: 10px;
      .sub-ctrl-label {
         color: white;
      }
      .a-color {
         color: black;
         border-width: 1px;
      }
   }
}

.figure-line-width-editor {
   input {
      margin: 0px 10px;
   }
}

.r-color {
   background-color: $red;
}

.g-color {
   background-color: $green;
}

.b-color {
   background-color: $blue;
}

.a-color {
   background-color: white;
   color: black;
}

.output-viewer {
   textarea {
      width: 100%;
      height: 100px;
   }
}

.canvas-container {
   canvas {
      max-width: 55%;
   }
}

.line-sample-viewer {
   .line-sample {
      width: 70%;
      color: white;
      color: white;
      height: 10px;
      display: inline-block;
   }
}

