$red: #EE3330;
$green: #64CC50;
$blue: #4290DD;

.ctrl-label {
   margin: 3px 10px;
   width: 120px;
   display: inline-block;
}

.sub-ctrl-label  {
   width: 150px;
   border-radius: 5px;
   text-align: center;
}

.btn-group {
   display: flex;
   flex-direction: row;
   button {
      margin: 0px 5px;
   }
}

.canvas-state-viewer {
   float: right;
   max-width: 40%;
   margin-right: 2%;
   width: 40%;
}

.controller-main {
   display: flex;
   flex-direction: column;
   .canvas-mode-ctrl {
      select {
         width: 70px;
         margin: 0px 10px;
      }
   }
   .canvas-misc-ctrl {
      display: flex;
      flex-direction: row;
      > div {
         width: 200px;
      }
      .guidewire-ctrl {
         input {
            margin: 0px 10px;
         }
      }
      .figure-aspect-ratio-ctrl {
         display: flex;
         flex-direction: row;
         .figure-aspect-value {
            display: flex;
            flex-direction: row;
            input {
               width: 50px;
               margin: 5px 10px;
            }
         }
      }
   }
   .operation-ctrl {
      display: flex;
      flex-direction: row;
      .btn-group {
         margin: 0px 5px;
      }
   }
}

.canvas-editor {
   margin-top: 20px;
}

.figure-label-editor {
   input {
      margin: 0px 10px;
   }
}

.figure-line-width-editor {
   input {
      margin: 0px 10px;
   }
}

.output-viewer {
   textarea {
      width: 100%;
      height: 100px;
   }
}

.canvas-container {
   canvas {
      max-width: 55%;
   }
}

.color-picker { 
   display: flex;
   flex-direction: row;
   margin: 20px 0px;

   .color-viewer {
      width: 40%;
      display: flex;
      flex-direction: column;
      > div {
         flex-grow: 1;
      }
      .color-viewer-main {
         > div {
            display: flex;
            flex-direction: row;
            padding: 5px;
         }
      }
      .color-value-viewer {
         width: 200px;
         text-align: center;
      }
   }

   .color-picker-main {
      display: flex;
      flex-direction: row;
      margin: 10px;
      canvas {
         width: 40%;
         height: 40%;
      }
      input {
         position: relative;
         transform: rotate(90deg);
         width: 150px;
         top: 80px;
         left: -25px;
      }

      .color-slider-ctrl {
         display: flex;
         flex-direction: row;
         width: 150px;
         .sub-ctrl-label {
            width: 100px;
            font-size: 0.9em;
         }
         > div {
            margin: 0px 10px 0px 10px;
         }
      }
   }
}

.figure-pos-viewer-main {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   .figure-pos-value {
      display: flex;
      flex-direction: row;
      div:last-child {
         width: 100px;
         text-align: center;
      }
   }
}

.output-viewer {
   margin: 10px 0px;
   .output-viewer-header {
      margin: 0px 10px;
   }
   textarea {
      margin-top: 5px;
   }
}
